<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p: %d{ISO8601} [%t] %c - %m%n" />
		</layout>
	</appender>
	
	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${catalina.base}/logs/penstro/py.log" />
		<param name="maxBackupIndex" value="5" />
		<param name="append" value="true" />
		<!-- sets immediateFlush to false anyways -->
		<param name="bufferedIO" value="true" />
		<!-- 
		<param name="immediateFlush" value="true" />
		-->
		<param name="immediateFlush" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p: %d{ISO8601} [%t] %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.py.py">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.security">
		<level value="info" />
	</logger>
	
	<logger name="net.sf.ehcache.pool.sizeof">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
	
</log4j:configuration>
