py.defaults.followeeList=Tom

py.defaults.settings.allow.profile.comments:true

py.jobs.delay.rename.start=3600000
py.jobs.delay.rename.complete=3600000
py.jobs.delay.delete.start=86400000
py.jobs.delay.delete.complete=86400000

py.jobs.delay.flags.decrement=600000
py.jobs.delay.flags.remove=3600000

py.jobs.delay.postings.archive=86400000
py.jobs.delay.comments.archive=86400000

py.jobs.delay.postings.tags.sort=300000
py.jobs.delay.aggregate.totals=300000
py.jobs.delay.aggregate.hour=300000
py.jobs.delay.aggregate.day=3600000
py.jobs.delay.aggregate.month=86400000
py.jobs.delay.aggregate.year=2592000000
py.jobs.delay.email.run=5000
py.jobs.delay.email.completed=30000
py.jobs.delay.email.errors=30000
py.jobs.delay.email.invalid=10800000
py.jobs.delay.payment.checkCompleted=30000
py.jobs.delay.payment.remove=86400000
py.jobs.delay.finance.deal.check=300000
py.jobs.delay.finance.deal.remove=86400000
py.jobs.delay.admin.action.check=300000
py.jobs.delay.admin.action.remove=86400000
py.jobs.delay.escrow.invalid.remove=86400000
py.jobs.delay.escrow.offer.refund=3600000
py.jobs.delay.correspondence.remove=86400000

py.credentialsLocation=/etc/penstro/penstrocredentials
py.google.credentialsLocation=/etc/penstro/googlecredentials

py.api.host=https://api.penstro.com
py.web.host=https://penstro.com
py.mail.link.confirmation=/confirmation
py.mail.link.passwordReset=/password/change
py.mail.link.changeEmail=/email/change
py.mail.link.offer=/offers
py.mail.link.delete=/current/delete
py.mail.link.changePayment=/payment/change
py.mail.from=noreply@penstro.com
py.mail.fromName=Penstro Support
py.mail.emailsPageSize=5
py.mail.host=email-smtp.us-west-2.amazonaws.com
py.mail.port=25
py.mail.aws.profile=
py.mail.aws.credentialsLocation=/etc/penstro/awscredentials
py.mail.aws.region=US_WEST_2

py.payment.fee.EmailAddress=tom-facilitator@penstro.com
py.payment.adaptivePayment.redirectPaymentUrl=https://www.sandbox.paypal.com/webapps/adaptivepayment/flow/pay

py.mongo.host=localhost
py.mongo.port=27017
py.mongo.connectionsPerHost=5
py.mongo.threadsAllowedBlock=150
py.mongo.connectTimeout=15000
py.mongo.autoConnectRetry=true
py.mongo.socketTimeout=60000
py.mongo.databaseName=penstro

py.mongo.ssl.keystorePath=/etc/mongo/client.jks
py.mongo.ssl.truststorePath=/etc/mongo/ca.jks

py.aws.sqs.bounceName=ses-bounces-queue
py.aws.sqs.complaintName=ses-complaints-queue
