
py.defaults.user.roles=read,submit,profile,social,mark,contribute,finance
#py.defaults.user.overrideRoles=unconfirmed,unlinked,unaccepted
py.defaults.user.overrideRoles=unaccepted

#includes special roles PAYMENT_NOTIFICATION, PASSWORD_UNAUTHED_CHANGE, PASSWORD_RESET

py.role.role.anonymous=REGISTER,USER_VIEW,USERS_VIEW,USER_ACTIVITY_VIEW,FOLLOWEES_USER_VIEW,\
						FOLLOWERS_USER_VIEW,POSTING_VIEW,POSTINGS_VIEW,\
						POSTINGS_AUTHOR_VIEW,POSTINGS_BENEFICIARY_VIEW,COMMENT_VIEW,\
						COMMENTS_VIEW,COMMENTS_AUTHOR_VIEW,COMMENTS_BENEFICIARY_VIEW,\
						COMMENTS_POSTING_VIEW,COMMENTS_USER_VIEW,COMMENTS_TAG_VIEW,\
						COMMENTS_COMMENT_VIEW,\
						TAG_VIEW,TAGS_VIEW,\
						PASSWORD_UNAUTHED_CHANGE,PASSWORD_RESET,\
						PAYMENT_NOTIFICATION


py.role.role.read=USER_VIEW,USERS_VIEW,USER_APPRECIATION_RESPONSE_VIEW,USER_ACTIVITY_VIEW,FOLLOWEES_USER_VIEW,\
						FOLLOWERS_USER_VIEW,POSTING_VIEW,POSTINGS_VIEW,\
						POSTINGS_AUTHOR_VIEW,POSTINGS_BENEFICIARY_VIEW,COMMENT_VIEW,\
						COMMENTS_VIEW,COMMENTS_AUTHOR_VIEW,COMMENTS_BENEFICIARY_VIEW,\
						COMMENTS_POSTING_VIEW,COMMENTS_USER_VIEW,COMMENTS_TAG_VIEW,\
						COMMENTS_COMMENT_VIEW,\
						TAG_VIEW,TAGS_VIEW
						
py.role.role.submit=POSTING_SUBMIT,POSTING_EDIT,POSTING_ENABLE,POSTING_DISABLE,\
					COMMENTS_POSTING_SUBMIT,COMMENT_EDIT,COMMENTS_USER_SUBMIT,COMMENTS_TAG_SUBMIT,\
					COMMENTS_COMMENT_SUBMIT,COMMENT_ENABLE,COMMENT_DISABLE,\
					OFFER_VIEW,OFFERS_VIEW,OFFER_ACCEPT,OFFER_DENY,OFFER_EMAIL_ACCEPT,OFFER_EMAIL_DENY,\
					BACKING_VIEW,BACKINGS_VIEW,BACKING_END,\
					FEEDBACK_SUBMIT

py.role.role.profile=USER_ACCEPT,\
					USER_CURRENT_VIEW,USER_ROLES_VIEW,\
					EMAIL_CHANGE,EMAIL_CHANGE_REQUEST,EMAIL_CONFIRMATION_SEND,EMAIL_PENDING_ACTION_CHANGE,\
					EMAIL_CONFIRMATION_CONFIRM,\
					PASSWORD_CHANGE,\
					SETTINGS_VIEW,SETTINGS_SUBMIT,SETTINGS_RESET,\
					USER_DELETE_SEND,USER_DELETE,USER_UNDELETE,\
					USER_PROFILE_SELF_VIEW,USER_PROFILE_CHANGE,\
					USER_APPRECIATION_RESPONSE_SELF_VIEW,USER_APPRECIATION_RESPONSE_CHANGE,\
					PAYMENT_CHANGE_REQUEST,PAYMENT_CHANGE,\
					POSTINGS_SELF_VIEW,COMMENTS_SELF_VIEW
					
py.role.role.finance=FINANCES_VIEW,CURRENCY_PURCHASE,PAYMENT_CHECK,PAYMENT_MARK

py.role.role.contribute=POSTING_APPRECIATE,POSTING_PROMOTE,\
						COMMENT_APPRECIATE,COMMENT_PROMOTE,\
						OFFER_OUTSTANDING_VIEW,\
						OFFERS_OUTSTANDING_VIEW,OFFER_WITHDRAW,OFFER_SUBMIT,\
						OFFER_EMAIL_SUBMIT,OFFER_OUTSTANDING_EMAIL_VIEW,\
						OFFERS_OUTSTANDING_EMAIL_VIEW,OFFER_EMAIL_WITHDRAW,\
						BACKING_OUTSTANDING_VIEW,BACKINGS_OUTSTANDING_VIEW,\
						BACKING_WITHDRAW

py.role.role.social=SUBSCRIPTION_VIEW,\
					FOLLOWEE_VIEW,FOLLOWEE_SUBMIT,FOLLOWEE_REMOVE,FOLLOWEES_VIEW,\
					FOLLOWER_VIEW,FOLLOWERS_VIEW,FEED_VIEW,NOTIFICATIONS_VIEW,\
					BLOCKED_VIEW,BLOCKED_SUBMIT,BLOCKED_REMOVE,BLOCKEDS_VIEW,\
					MESSAGES_VIEW,MESSAGES_CONVERSATION_VIEW,MESSAGES_CONVERSATION_MESSAGES_VIEW,MESSAGE_SUBMIT,\
					CONVERSATION_HIDE,CONVERSATION_SHOW

py.role.role.mark=POSTING_FLAG,COMMENT_FLAG,USER_FLAG,CONVERSATION_FLAG

#prevents the submission of postings, comments, and messages, or appreciating
py.role.overrideRole.unaccepted=USER_ACCEPT,USER_VIEW,USERS_VIEW,USER_APPRECIATION_RESPONSE_VIEW,USER_ACTIVITY_VIEW,FOLLOWEES_USER_VIEW,\
								FOLLOWERS_USER_VIEW,POSTING_VIEW,POSTINGS_VIEW,\
								POSTINGS_AUTHOR_VIEW,POSTINGS_BENEFICIARY_VIEW,COMMENT_VIEW,\
								COMMENTS_VIEW,COMMENTS_AUTHOR_VIEW,COMMENTS_BENEFICIARY_VIEW,\
								COMMENTS_POSTING_VIEW,COMMENTS_USER_VIEW,COMMENTS_TAG_VIEW,\
								COMMENTS_COMMENT_VIEW,\
								TAG_VIEW,TAGS_VIEW,\
								POSTING_EDIT,POSTING_ENABLE,POSTING_DISABLE,\
								COMMENT_EDIT,COMMENT_ENABLE,COMMENT_DISABLE,\
								OFFER_VIEW,OFFERS_VIEW,OFFER_ACCEPT,OFFER_DENY,OFFER_EMAIL_ACCEPT,OFFER_EMAIL_DENY,\
								BACKING_VIEW,BACKINGS_VIEW,BACKING_END,\
								USER_CURRENT_VIEW,USER_ROLES_VIEW,\
								EMAIL_CHANGE,EMAIL_CHANGE_REQUEST,EMAIL_CONFIRMATION_SEND,EMAIL_PENDING_ACTION_CHANGE,\
								EMAIL_CONFIRMATION_CONFIRM,\
								PASSWORD_CHANGE,PASSWORD_UNAUTHED_CHANGE,PASSWORD_RESET,PAYMENT_NOTIFICATION,\
								SETTINGS_VIEW,SETTINGS_SUBMIT,SETTINGS_RESET,\
								USER_DELETE_SEND,USER_DELETE,USER_UNDELETE,\
								USER_PROFILE_SELF_VIEW,USER_PROFILE_CHANGE,\
								USER_APPRECIATION_RESPONSE_SELF_VIEW,USER_APPRECIATION_RESPONSE_CHANGE,\
								PAYMENT_CHANGE_REQUEST,PAYMENT_CHANGE,\
								POSTINGS_SELF_VIEW,COMMENTS_SELF_VIEW,\
								FINANCES_VIEW,PAYMENT_CHECK,PAYMENT_MARK,\
								POSTING_PROMOTE,\
								COMMENT_PROMOTE,\
								OFFER_OUTSTANDING_VIEW,\
								OFFERS_OUTSTANDING_VIEW,OFFER_WITHDRAW,OFFER_SUBMIT,\
								OFFER_EMAIL_SUBMIT,OFFER_OUTSTANDING_EMAIL_VIEW,\
								OFFERS_OUTSTANDING_EMAIL_VIEW,OFFER_EMAIL_WITHDRAW,\
								BACKING_OUTSTANDING_VIEW,BACKINGS_OUTSTANDING_VIEW,\
								BACKING_WITHDRAW,\
								SUBSCRIPTION_VIEW,\
								FOLLOWEE_VIEW,FOLLOWEE_SUBMIT,FOLLOWEE_REMOVE,FOLLOWEES_VIEW,\
								FOLLOWER_VIEW,FOLLOWERS_VIEW,FEED_VIEW,NOTIFICATIONS_VIEW,\
								BLOCKED_VIEW,BLOCKED_SUBMIT,BLOCKED_REMOVE,BLOCKEDS_VIEW,\
								MESSAGES_VIEW,MESSAGES_CONVERSATION_VIEW,MESSAGES_CONVERSATION_MESSAGES_VIEW,\
								CONVERSATION_HIDE,CONVERSATION_SHOW,\
								POSTING_FLAG,COMMENT_FLAG,USER_FLAG,CONVERSATION_FLAG
								
#prevents the submission of postings and comments, or appreciating
#py.role.overrideRole.unconfirmed=USER_ACCEPT,USER_VIEW,USERS_VIEW,USER_APPRECIATION_RESPONSE_VIEW,USER_ACTIVITY_VIEW,FOLLOWEES_USER_VIEW,\
								FOLLOWERS_USER_VIEW,POSTING_VIEW,POSTINGS_VIEW,\
								POSTINGS_AUTHOR_VIEW,POSTINGS_BENEFICIARY_VIEW,COMMENT_VIEW,\
								COMMENTS_VIEW,COMMENTS_AUTHOR_VIEW,COMMENTS_BENEFICIARY_VIEW,\
								COMMENTS_POSTING_VIEW,COMMENTS_USER_VIEW,COMMENTS_TAG_VIEW,\
								COMMENTS_COMMENT_VIEW,\
								TAG_VIEW,TAGS_VIEW,\
								POSTING_EDIT,POSTING_ENABLE,POSTING_DISABLE,\
								COMMENT_EDIT,COMMENT_ENABLE,COMMENT_DISABLE,\
								OFFER_VIEW,OFFERS_VIEW,OFFER_ACCEPT,OFFER_DENY,OFFER_EMAIL_ACCEPT,OFFER_EMAIL_DENY,\
								BACKING_VIEW,BACKINGS_VIEW,BACKING_END,\
								USER_CURRENT_VIEW,USER_ROLES_VIEW,\
								EMAIL_CHANGE,EMAIL_CHANGE_REQUEST,EMAIL_CONFIRMATION_SEND,EMAIL_PENDING_ACTION_CHANGE,\
								EMAIL_CONFIRMATION_CONFIRM,\
								PASSWORD_CHANGE,PASSWORD_UNAUTHED_CHANGE,PASSWORD_RESET,PAYMENT_NOTIFICATION,\
								SETTINGS_VIEW,SETTINGS_SUBMIT,SETTINGS_RESET,\
								USER_DELETE_SEND,USER_DELETE,USER_UNDELETE,\
								USER_PROFILE_SELF_VIEW,USER_PROFILE_CHANGE,\
								USER_APPRECIATION_RESPONSE_SELF_VIEW,USER_APPRECIATION_RESPONSE_CHANGE,\
								PAYMENT_CHANGE_REQUEST,PAYMENT_CHANGE,\
								POSTINGS_SELF_VIEW,COMMENTS_SELF_VIEW,\
								FINANCES_VIEW,PAYMENT_CHECK,PAYMENT_MARK,\
								POSTING_PROMOTE,\
								COMMENT_PROMOTE,\
								OFFER_OUTSTANDING_VIEW,\
								OFFERS_OUTSTANDING_VIEW,OFFER_WITHDRAW,OFFER_SUBMIT,\
								OFFER_EMAIL_SUBMIT,OFFER_OUTSTANDING_EMAIL_VIEW,\
								OFFERS_OUTSTANDING_EMAIL_VIEW,OFFER_EMAIL_WITHDRAW,\
								BACKING_OUTSTANDING_VIEW,BACKINGS_OUTSTANDING_VIEW,\
								BACKING_WITHDRAW,\
								SUBSCRIPTION_VIEW,\
								FOLLOWEE_VIEW,FOLLOWEE_SUBMIT,FOLLOWEE_REMOVE,FOLLOWEES_VIEW,\
								FOLLOWER_VIEW,FOLLOWERS_VIEW,FEED_VIEW,NOTIFICATIONS_VIEW,\
								BLOCKED_VIEW,BLOCKED_SUBMIT,BLOCKED_REMOVE,BLOCKEDS_VIEW,\
								MESSAGES_VIEW,MESSAGES_CONVERSATION_VIEW,MESSAGES_CONVERSATION_MESSAGES_VIEW,\
								CONVERSATION_HIDE,CONVERSATION_SHOW,MESSAGE_SUBMIT,\
								POSTING_FLAG,COMMENT_FLAG,USER_FLAG,CONVERSATION_FLAG

#prevents submission of postings and comments as well as that of unpaid
#py.role.overrideRole.unlinked=USER_ACCEPT,USER_VIEW,USERS_VIEW,USER_APPRECIATION_RESPONSE_VIEW,USER_ACTIVITY_VIEW,FOLLOWEES_USER_VIEW,\
								FOLLOWERS_USER_VIEW,POSTING_VIEW,POSTINGS_VIEW,\
								POSTINGS_AUTHOR_VIEW,POSTINGS_BENEFICIARY_VIEW,COMMENT_VIEW,\
								COMMENTS_VIEW,COMMENTS_AUTHOR_VIEW,COMMENTS_BENEFICIARY_VIEW,\
								COMMENTS_POSTING_VIEW,COMMENTS_USER_VIEW,COMMENTS_TAG_VIEW,\
								COMMENTS_COMMENT_VIEW,\
								TAG_VIEW,TAGS_VIEW,\
								POSTING_EDIT,POSTING_ENABLE,POSTING_DISABLE,\
								COMMENT_EDIT,COMMENT_ENABLE,COMMENT_DISABLE,\
								OFFER_VIEW,OFFERS_VIEW,OFFER_ACCEPT,OFFER_DENY,OFFER_EMAIL_ACCEPT,OFFER_EMAIL_DENY,\
								BACKING_VIEW,BACKINGS_VIEW,BACKING_END,\
								USER_CURRENT_VIEW,USER_ROLES_VIEW,\
								EMAIL_CHANGE,EMAIL_CHANGE_REQUEST,EMAIL_CONFIRMATION_SEND,EMAIL_PENDING_ACTION_CHANGE,\
								EMAIL_CONFIRMATION_CONFIRM,\
								PASSWORD_CHANGE,PASSWORD_UNAUTHED_CHANGE,PASSWORD_RESET,PAYMENT_NOTIFICATION,\
								SETTINGS_VIEW,SETTINGS_SUBMIT,SETTINGS_RESET,\
								USER_DELETE_SEND,USER_DELETE,USER_UNDELETE,\
								USER_PROFILE_SELF_VIEW,USER_PROFILE_CHANGE,\
								USER_APPRECIATION_RESPONSE_SELF_VIEW,USER_APPRECIATION_RESPONSE_CHANGE,\
								PAYMENT_CHANGE_REQUEST,PAYMENT_CHANGE,\
								POSTINGS_SELF_VIEW,COMMENTS_SELF_VIEW,\
								FINANCES_VIEW,CURRENCY_PURCHASE,PAYMENT_CHECK,PAYMENT_MARK,\
								POSTING_APPRECIATE,POSTING_PROMOTE,\
								COMMENT_APPRECIATE,COMMENT_PROMOTE,\
								OFFER_OUTSTANDING_VIEW,\
								OFFERS_OUTSTANDING_VIEW,OFFER_WITHDRAW,OFFER_SUBMIT,\
								OFFER_EMAIL_SUBMIT,OFFER_OUTSTANDING_EMAIL_VIEW,\
								OFFERS_OUTSTANDING_EMAIL_VIEW,OFFER_EMAIL_WITHDRAW,\
								BACKING_OUTSTANDING_VIEW,BACKINGS_OUTSTANDING_VIEW,\
								BACKING_WITHDRAW,\
								SUBSCRIPTION_VIEW,\
								FOLLOWEE_VIEW,FOLLOWEE_SUBMIT,FOLLOWEE_REMOVE,FOLLOWEES_VIEW,\
								FOLLOWER_VIEW,FOLLOWERS_VIEW,FEED_VIEW,NOTIFICATIONS_VIEW,\
								BLOCKED_VIEW,BLOCKED_SUBMIT,BLOCKED_REMOVE,BLOCKEDS_VIEW,\
								MESSAGES_VIEW,MESSAGES_CONVERSATION_VIEW,MESSAGES_CONVERSATION_MESSAGES_VIEW,\
								CONVERSATION_HIDE,CONVERSATION_SHOW,MESSAGE_SUBMIT,\
								POSTING_FLAG,COMMENT_FLAG,USER_FLAG,CONVERSATION_FLAG

#prevents only submission of feedback and messages
#py.role.overrideRole.unpaid=USER_ACCEPT,USER_VIEW,USERS_VIEW,USER_APPRECIATION_RESPONSE_VIEW,USER_ACTIVITY_VIEW,FOLLOWEES_USER_VIEW,\
								FOLLOWERS_USER_VIEW,POSTING_VIEW,POSTINGS_VIEW,\
								POSTINGS_AUTHOR_VIEW,POSTINGS_BENEFICIARY_VIEW,COMMENT_VIEW,\
								COMMENTS_VIEW,COMMENTS_AUTHOR_VIEW,COMMENTS_BENEFICIARY_VIEW,\
								COMMENTS_POSTING_VIEW,COMMENTS_USER_VIEW,COMMENTS_TAG_VIEW,\
								COMMENTS_COMMENT_VIEW,\
								TAG_VIEW,TAGS_VIEW,\
								POSTING_SUBMIT,POSTING_EDIT,POSTING_ENABLE,POSTING_DISABLE,\
								COMMENT_EDIT,COMMENTS_POSTING_SUBMIT,COMMENTS_USER_SUBMIT,COMMENTS_TAG_SUBMIT,\
								COMMENTS_COMMENT_SUBMIT,COMMENT_ENABLE,COMMENT_DISABLE,\
								OFFER_VIEW,OFFERS_VIEW,OFFER_ACCEPT,OFFER_DENY,OFFER_EMAIL_ACCEPT,OFFER_EMAIL_DENY,\
								BACKING_VIEW,BACKINGS_VIEW,BACKING_END,\
								USER_CURRENT_VIEW,USER_ROLES_VIEW,\
								EMAIL_CHANGE,EMAIL_CHANGE_REQUEST,EMAIL_CONFIRMATION_SEND,EMAIL_PENDING_ACTION_CHANGE,\
								EMAIL_CONFIRMATION_CONFIRM,\
								PASSWORD_CHANGE,\
								SETTINGS_VIEW,SETTINGS_SUBMIT,SETTINGS_RESET,\
								USER_DELETE_SEND,USER_DELETE,USER_UNDELETE,\
								USER_PROFILE_SELF_VIEW,USER_PROFILE_CHANGE,\
								USER_APPRECIATION_RESPONSE_SELF_VIEW,USER_APPRECIATION_RESPONSE_CHANGE,\
								PAYMENT_CHANGE_REQUEST,PAYMENT_CHANGE,\
								POSTINGS_SELF_VIEW,COMMENTS_SELF_VIEW,\
								FINANCES_VIEW,CURRENCY_PURCHASE,PAYMENT_CHECK,PAYMENT_MARK,\
								POSTING_APPRECIATE,POSTING_PROMOTE,\
								COMMENT_APPRECIATE,COMMENT_PROMOTE,\
								OFFER_OUTSTANDING_VIEW,\
								OFFERS_OUTSTANDING_VIEW,OFFER_WITHDRAW,OFFER_SUBMIT,\
								OFFER_EMAIL_SUBMIT,OFFER_OUTSTANDING_EMAIL_VIEW,\
								OFFERS_OUTSTANDING_EMAIL_VIEW,OFFER_EMAIL_WITHDRAW,\
								BACKING_OUTSTANDING_VIEW,BACKINGS_OUTSTANDING_VIEW,\
								BACKING_WITHDRAW,\
								SUBSCRIPTION_VIEW,\
								FOLLOWEE_VIEW,FOLLOWEE_SUBMIT,FOLLOWEE_REMOVE,FOLLOWEES_VIEW,\
								FOLLOWER_VIEW,FOLLOWERS_VIEW,FEED_VIEW,NOTIFICATIONS_VIEW,\
								BLOCKED_VIEW,BLOCKED_SUBMIT,BLOCKED_REMOVE,BLOCKEDS_VIEW,\
								MESSAGES_VIEW,MESSAGES_CONVERSATION_VIEW,MESSAGES_CONVERSATION_MESSAGES_VIEW,\
								POSTING_FLAG,COMMENT_FLAG,USER_FLAG

#prevents all submissions and changes, and purchasing of currency
py.role.overrideRole.deleted=USER_ACCEPT,USER_VIEW,USERS_VIEW,USER_APPRECIATION_RESPONSE_VIEW,USER_ACTIVITY_VIEW,FOLLOWEES_USER_VIEW,\
								FOLLOWERS_USER_VIEW,POSTING_VIEW,POSTINGS_VIEW,\
								POSTINGS_AUTHOR_VIEW,POSTINGS_BENEFICIARY_VIEW,COMMENT_VIEW,\
								COMMENTS_VIEW,COMMENTS_AUTHOR_VIEW,COMMENTS_BENEFICIARY_VIEW,\
								COMMENTS_POSTING_VIEW,COMMENTS_USER_VIEW,COMMENTS_TAG_VIEW,\
								COMMENTS_COMMENT_VIEW,\
								TAG_VIEW,TAGS_VIEW,\
								OFFER_VIEW,OFFERS_VIEW,\
								BACKING_VIEW,BACKINGS_VIEW,\
								USER_CURRENT_VIEW,USER_ROLES_VIEW,\
								SETTINGS_VIEW,SETTINGS_SUBMIT,SETTINGS_RESET,\
								USER_DELETE_SEND,USER_DELETE,USER_UNDELETE,\
								USER_PROFILE_SELF_VIEW,\
								USER_APPRECIATION_RESPONSE_SELF_VIEW,\
								PAYMENT_CHANGE_REQUEST,PAYMENT_CHANGE,\
								POSTINGS_SELF_VIEW,COMMENTS_SELF_VIEW,\
								FINANCES_VIEW,PAYMENT_CHECK,PAYMENT_MARK,\
								POSTING_APPRECIATE,POSTING_PROMOTE,\
								COMMENT_APPRECIATE,COMMENT_PROMOTE,\
								OFFER_OUTSTANDING_VIEW,\
								OFFERS_OUTSTANDING_VIEW,OFFER_WITHDRAW,OFFER_SUBMIT,\
								OFFER_EMAIL_SUBMIT,OFFER_OUTSTANDING_EMAIL_VIEW,\
								OFFERS_OUTSTANDING_EMAIL_VIEW,OFFER_EMAIL_WITHDRAW,\
								BACKING_OUTSTANDING_VIEW,BACKINGS_OUTSTANDING_VIEW,\
								BACKING_WITHDRAW,\
								SUBSCRIPTION_VIEW,\
								FOLLOWEE_VIEW,FOLLOWEE_REMOVE,FOLLOWEES_VIEW,\
								FOLLOWER_VIEW,FOLLOWERS_VIEW,FEED_VIEW,NOTIFICATIONS_VIEW,\
								BLOCKED_VIEW,BLOCKED_SUBMIT,BLOCKED_REMOVE,BLOCKEDS_VIEW,\
								MESSAGES_VIEW,MESSAGES_CONVERSATION_VIEW,MESSAGES_CONVERSATION_MESSAGES_VIEW,\
								CONVERSATION_HIDE,CONVERSATION_SHOW,CONVERSATION_FLAG

py.role.rank.overrideRole.deleted=6
py.role.rank.overrideRole.unaccepted=5
#py.role.rank.overrideRole.unconfirmed=4
#py.role.rank.overrideRole.unlinked=2
#py.role.rank.overrideRole.unpaid=1

py.role.role.admin=ADMIN,ADMIN_CHECK,ADMIN_USER_LOGOUT,\
					ADMIN_ACTIONS_VIEW,ADMIN_STATISTICS_CACHE_VIEW,\
					ADMIN_EMAIL_CHANGE,ADMIN_EMAIL_CHANGE_REQUEST,\
					ADMIN_PASSWORD_RESET,ADMIN_USER_CURRENT_VIEW,\
					ADMIN_USER_PROFILE_VIEW,ADMIN_USER_PROFILE_CHANGE,\
					ADMIN_USER_APPRECIATION_RESPONSE_VIEW,\ADMIN_USER_APPRECIATION_RESPONSE_CHANGE,\
					ADMIN_USER_UNLOCK,ADMIN_USER_LOCK,\
					ADMIN_USER_UNDELETE,ADMIN_USER_RENAME,\
					ADMIN_USER_ROLES_CHANGE,ADMIN_USER_ROLES_VIEW,\
					ADMIN_USER_PENDING_ACTIONS_CHANGE,\
					ADMIN_USER_LOGIN_ATTEMPTS_REMOVE,ADMIN_USER_PROFILE_CHANGE,ADMIN_USER_PASSWORD_CHANGE,\
					ADMIN_FINANCES_ADD,ADMIN_FINANCES_REMOVE,ADMIN_FINANCES_VIEW,\
					ADMIN_PAYMENT_CHECK,ADMIN_PAYMENT_MARK,\
					ADMIN_NOTIFICATIONS_VIEW,ADMIN_FEED_VIEW,\
					ADMIN_POSTINGS_SELF_VIEW,\
					ADMIN_POSTING_REMOVE,ADMIN_POSTING_UNREMOVE,ADMIN_POSTING_FLAG,\
					ADMIN_POSTING_UNFLAG,ADMIN_POSTING_WARNING,ADMIN_POSTING_UNWARNING,\
					ADMIN_POSTING_VIEW,ADMIN_POSTING_ENABLE,ADMIN_POSTING_DISABLE,\
					ADMIN_POSTING_TALLY_CHANGE,ADMIN_COMMENT_APPRECIATE,\
					ADMIN_COMMENTS_SELF_VIEW,\
					ADMIN_COMMENT_REMOVE,ADMIN_COMMENT_UNREMOVE,ADMIN_COMMENT_FLAG,\
					ADMIN_COMMENT_UNFLAG,ADMIN_COMMENT_WARNING,ADMIN_COMMENT_UNWARNING,\
					ADMIN_COMMENT_VIEW,ADMIN_COMMENT_ENABLE,ADMIN_COMMENT_DISABLE,\
					ADMIN_COMMENT_TALLY_CHANGE,ADMIN_POSTING_APPRECIATE,\
					ADMIN_TAG_LOCK,ADMIN_TAG_UNLOCK,\
					ADMIN_SUBSCRIPTION_VIEW,\
					ADMIN_FOLLOWEES_VIEW,ADMIN_FOLLOWERS_VIEW,ADMIN_FOLLOWER_VIEW,\
					ADMIN_FOLLOWEE_VIEW,ADMIN_FOLLOWEE_SUBMIT,ADMIN_FOLLOWEE_REMOVE,\
					ADMIN_BLOCKEDS_VIEW,ADMIN_BLOCKED_VIEW,\
					ADMIN_BLOCKED_SUBMIT,ADMIN_BLOCKED_REMOVE,\
					ADMIN_BACKINGS_VIEW,ADMIN_BACKING_VIEW,ADMIN_BACKINGS_OUTSTANDING_VIEW,\
					ADMIN_BACKING_OUTSTANDING_VIEW,ADMIN_BACKING_WITHDRAW, ADMIN_BACKING_END,\
					ADMIN_OFFER_VIEW,ADMIN_OFFERS_VIEW,ADMIN_OFFER_OUTSTANDING_VIEW,\
					ADMIN_OFFERS_OUTSTANDING_VIEW,ADMIN_OFFER_OUTSTANDING_EMAIL_VIEW,\
					ADMIN_OFFERS_OUTSTANDING_EMAIL_VIEW,ADMIN_OFFER_EMAIL_WITHDRAW,\
					ADMIN_OFFER_WITHDRAW,\
					ADMIN_SETTINGS_VIEW,ADMIN_SETTINGS_RESET,\
					ADMIN_FEEDBACK_VIEW,ADMIN_FEEDBACKS_VIEW,ADMIN_FEEDBACK_CHANGE,\
					ADMIN_RESTRICTED_VIEW,ADMIN_RESTRICTEDS_VIEW,\
					ADMIN_RESTRICTED_ADD,ADMIN_RESTRICTED_REMOVE,\
					ADMIN_FLAG_DATAS_VIEW,ADMIN_FLAG_DATA_REMOVE
					